@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@400;700;900&display=swap');

body{
  background-color: rgba(4, 4, 4, 0.795);
  font-family: Arial, Helvetica, sans-serif;
}

.navbar{
  list-style: none;
  border: 1px rgb(83, 88, 88) solid; 
  margin: 0;
  background-color: rgb(83, 88, 88);
  border-radius: 5px;
  padding: 0;
  overflow:auto;
  position:fixed;
  top: 0;
  width: 100%;
}

.navbar li{
  float: left;
}

.navbar h1{
  float: right;
  margin: 15px;
}

.navbar h1 a{
  display: block;
  text-decoration: none;
  padding-right: 15px;
  color: rgb(200, 200, 200);
}

.navbar h1 a:hover{
  color: rgb(39, 39, 39);
}

.navbar li a{
  display: block;
  padding: 15px 20px;
  text-decoration: none;
  color: rgb(200, 200, 200);
}

.navbar li a:hover{
  background-color: rgb(77, 79, 79);
}


#prasad,#rohit,#rithika,#ruhit{
  border: 5px rgb(39, 39, 39);
  padding: 50px;
  width: 700px;
  margin: auto;
  border-radius: 5px;
  background-color: rgb(39, 39, 39);
}

#prasad:hover,#rohit:hover,#rithika:hover,#ruhit:hover{
  background-color: rgb(29, 29, 29);
}
h1, h2, p{
  color: rgb(140, 140, 140);
  line-height: 20px;
}